@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #75deff;
  --color-secondary: #2c4561;
  --color-secondary-light: #303f4f;
  --color-secondary-accent: #f3d32c;
  --color-offwhite: #fdfdfc;

  --color-disabled-primary: #c2c2c6;
  --color-disabled-secondary: #dbd9d4;
  --color-disabled-tertiary: #6f7174;

  --color-emphasis-primary: #f9ee4a;
  --color-emphasis-tertiary: #481d15;

  --color-achievement: #de8500;
  --color-challenge: #ea5792;
  --color-daily: #369cea;
  --color-weekly: #3ec846;

  --font-sans: "Inter", sans-serif;
  --font-montserrat: "Montserrat", serif;
}
